<nav>
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Waffle.io</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    <% if (!user) { %>
      <li><a href="/login">Log In</a></li>
    <% } else { %>
      <li><a href="#">Hey, <%= user.github_login %></a></li>
      <li><a href="/logout">Log Out</a></li>
    <% } %>
  </ul>
</nav>
