<nav>
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="navbar-brand" class="navbar-brand" href="/">CodeClass</a>

    </div>
    <div class="room-nav-util">
      <% if (user) { %>
      <div class="util-btn"><a href="/rooms"><i class="fa fa-plus" aria-hidden="true"></i></a></div>
      <div class="util-btn"><a href="/users/<%=user.github_login %>"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></div>
      <div class="util-btn"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></div>
      <% } else { %>
      <div><a href="/login">Log In</a></div>
      <% } %>
    </div>
</nav>
