    <% include ./_new_classroom_modal.ejs %>

<nav>
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="navbar-brand" class="navbar-brand" href="/">CodeClass</a>

    </div>
    <div class="room-nav-util">
      <% if (user) { %>
      <a id="modal-button" class="util-btn"><div><i class="fa fa-plus" aria-hidden="true"></i></div></a>
      <a class="util-btn" href="/users/<%=user.github_login %>"><div><i class="fa fa-user-circle-o" aria-hidden="true"></i></div></a>
      <a class="util-btn" href="/logout"><div><i class="fa fa-sign-out" aria-hidden="true"></i></div></a>
      <% } else { %>
      <a  class="util-btn" href="/login"><div><i class="fa fa-sign-in" aria-hidden="true"></i></div></a>
      <% } %>
    </div>
</nav>
