<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Waffle.io</a>
    </div>
    <ul class="nav navbar-nav">
      <% if (user) { %>
      <li><a href="/rooms">
        <i class="fa fa-plus" aria-hidden="true"></i>
        New Room
      </a></li>

      <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <% if (!user) { %>
      <li><a href="/login">Log In</a></li>
    <% } else { %>
      <li><a href="/">Hey, <%= user.github_login %></a></li>
      <li><a href="/my_rooms">My Rooms</a></li>
      <li><a href="/logout">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        Log Out</a></li>
    <% } %>
  </ul>
</nav>
