<div id="myModal" class="modal" style="background-color: red">

  <!-- Modal content -->

  <div class="modal-content slideDown">

    <div class="modal-header">
      <span class="closeModal" id="closeModal">&times;</span>
      <h2 class="my-classrooms-heading">Create a Class</h2>
    </div>
    <div class="modal-body">
      <form action="/rooms" method="POST" class="modal-form">
        <div class="form-row">
          <label for="">Title</label>
          <input id="new-classroom--title" type="text" class="" name="topic">
        </div>

        <div class="form-row">
            <label for="">Language</label>
            <div class="input-group btn-group-language" data-toggle="buttons">
             <div class="btn btn-primary btn-xs btn-js">
               <label>
                 <input type="radio" class="radio-none" name="language" id="radio-javascript" value="javascript" checked>
                 JAVASCRIPT
               </label>
             </div>
             <div class="btn btn-primary btn-xs btn-ruby">
               <label>
                 <input type="radio" class="radio-none" name="language" id="radio-ruby" value="ruby">
                 RUBY
               </label>
             </div>
             <div class="btn btn-primary btn-xs btn-python">
               <label>
                 <input type="radio" class="radio-none" name="language" id="radio-python" value="python">
                 PYTHON
               </label>
             </div>
           </div>
          </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success ">Create classroom</button>
    </div>
    </form>

  </div>

</div>
