<!-- <a class="card-link" href=<%= `/rooms/${room.room_key}` %> -->
    <div class='card panel panel-default z-3'>
      <div class="delete-card-circle"><span class="fa fa-times delete-card-icon" aria-hidden="true"></span></div>
    <header class='panel-body card-body'>
    <div>
      <% if (room.language_id === 'javascript') { %>
        <span class="fa icon-javascript-alt language-icon-js" aria-hidden="true"></span>
      <% } %>
      <% if (room.language_id === 'ruby') { %>
        <span class="fa icon-ruby language-icon-ruby" aria-hidden="true"></span>
      <% } %>
      <% if (room.language_id === 'python') { %>
        <span class="fa icon-python language-icon-python" aria-hidden="true"></span>
      <% } %>

    </div>
      <h3>
        <%= room.topic %>
      </h3>
      <p><%= moment(room.created_at).diff(moment(), 'days') < -5 ? moment(room.created_at).format('MMM Do YYYY') : moment(room.created_at).fromNow() %></p>
    </header>

    <footer class='card-footer bottom-align-text'>
      <a class="btn card-share" role="button" href=<%= `/rooms/${room.room_key}` %>>
        <i class="fa fa-clipboard" aria-hidden="true"></i>
        Copy Link
      </a>
    </footer>
</div>
<!-- </a> -->
