<% if (classroom.language_id === 'javascript') { %>
  <article class='card panel panel-default z-3 javascript' data-language='Javascript'>
<% } %>
<% if (classroom.language_id === 'ruby') { %>
  <article class='card panel panel-default z-3 ruby' data-language='Ruby'>
<% } %>
<% if (classroom.language_id === 'python') { %>
  <article class='card panel panel-default z-3 python' data-language='Python'>
<% } %>



    <a class="card-body" href=<%= `/rooms/${classroom.room_key}` %>>
    <div class='panel-body'>
    <span>
      <% if (classroom.language_id === 'javascript') { %>
        <span class="fa icon-javascript-alt language-icon" aria-hidden="true"></span>
      <% } %>
      <% if (classroom.language_id === 'ruby') { %>
        <span class="fa icon-ruby language-icon" aria-hidden="true"></span>
      <% } %>
      <% if (classroom.language_id === 'python') { %>
        <span class="fa icon-python language-icon" aria-hidden="true"></span>
      <% } %>
    </span>
      <h4 class="card-header">
        <%= classroom.topic %>
      </h4>
      <p class="card-moment"><%= moment(classroom.created_at).diff(moment(), 'days') < -5 ? moment(classroom.created_at).format('MMM Do YYYY') : moment(classroom.created_at).fromNow() %></p>
    </div>
    </a>
    <footer class='card-footer'>
      <a class="btn card-share" role="button" data-clipboard-text=<%= `rooms/${classroom.room_key}` %> >
        <i class="fa fa-clipboard"></i>
        Copy Link
        <span class="fa fa-check text-success clipboard-check"></span>
      </a>
    </footer>
</article>
