main {
  display: flex;
}

.chat-container {
  flex: 3;
  overflow: auto;
  right: 0;
}

.env-container {
  flex: 7;
  width: 70%;
}

.navbar {
  margin-bottom: 0;
}

div {
  border: 1px solid red;
}
