main {
  display: flex;
}

button.btn {
  border-radius: 0%;
}

.env-container {
 background-color: rgb(190, 212, 85);
 flex: 7.5;
}

.terminal{
  overflow-y: scroll;
}

.gist-button{
  display: inline-block;
}
