html, body { height: 100%; }

main {
  display: flex;
  height: 100%;
}


.env-container {
  width: 75%;
  height: calc(100% - $nav-height);
}



div {
  // border: 1px solid red;
}
div#blah2{
  width: 100%!important;
}

button.btn {
  border-radius: 0%;
}

.form-group.gist-container{
  width: 100%;
}
