<!DOCTYPE html>
<html>
	<head>
		<title>Code Class</title>
		<% include ./partials/_head %>
	</head>
	<body>
		<header>
			<% include ./partials/_nav.ejs %>
		</header>

		<div class="container">
			<div class="jumbotron">
				<div class="page-header">
						<h1>Error Page <%= errorcode %></h1>
						<p> <%= message %> </p>
						<p>
							<a class="btn btn-primary btn-lg" href='<%= buttonURL %>' role="button"><%= buttonLabel %></a>
						</p>
			</div>
		</div>
			</section>
	</div>

	</body>
	<% include ./partials/_scripts.ejs %>
</html>
