<!DOCTYPE html>
<html>

<head>
    <title>Welcome to CodeClass</title>
    		<% include ./partials/_head %>
</head>

<body>
          <% include ./partials/_nav.ejs %>
      <div class="b"></div>
    <div id="workspace">
        <div class="desk">
            <div class="table">
                <div class="right-tb">
                </div>
                <span class="cup"><i></i></span>
                <div class="everything">
                    <span class="note">Waffle</span>
                    <div class="macbook">
                        <div class="screen">
                            <div class="editor">
                                <ul class="code">
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                    <li class="imac"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>

                <span class="bk-screen">
					<i></i>
				</span>
            </div>
            <% include ./partials/_scripts.ejs %>
              <script src="/scripts/home.js"></script>


</body>

</html>
