<!DOCTYPE html>
<html>

<head>
    <title>Welcome to CodeClass</title>
    <% include ./partials/_head %>
</head>

<body>
    <% include ./partials/_nav.ejs %>
        <div class="brick"></div>
        <div class="welcome">
            <span class="typed">&gt;&ensp;</span>
            <p class="typed front-typed"></p>
        </div>
        <div class="welcome-login">
            <span><a class="btn home-login-btn" href="/auth/github"><span class="fa fa-github fa-lg"></span>&ensp;Login via Github</a>
            </span>
        </div>
        <div id="workspace">
            <div class="desk-setup">
                <div class="desk">
                    <div class="table">
                        <div class="right-tb">
                        </div>
                        <span class="photo-frame">
  <img class="photo-frame-image" src="https://pbs.twimg.com/profile_images/523518790479265792/XqVYmeU3.png" alt="Mona Lisa" />
</span>
                        <span class="cup"><i></i></span>
                        <div class="everything">
                            <span class="note">Waffle</span>
                            <div class="macbook">
                                <div class="screen">
                                    <div class="macbook-editor">
                                        <ul class="code">
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                            <li class="imac"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="keyboard"></div>
                            </div>
                        </div>


                        <span class="bk-screen"><i></i></span>
                    </div>
                </div>
                <% include ./partials/_scripts.ejs %>
                    <script src="/scripts/home.js"></script>
                    <script src="/scripts/typed.min.js"></script>
                    <script>
                        $(function() {
                            $(".front-typed").typed({
                                strings: ["Welcome to class"],
                                typeSpeed: 60,
                                cursorChar: "&#9608",
                                callback: function() {
                                    $('.typed-cursor').addClass('animate');
                                },
                            });
                        });
                    </script>


</body>

</html>
