<!DOCTYPE html>
<html>
	<head>
		<title>Code Class</title>
		<% include ./partials/_head %>
	</head>
	<body>
		<header>
			<% include ./partials/_nav.ejs %>
		</header>
		<div class="container">
		<% if (!user) { %>
			<div class="jumbotron">
				<div class="page-header">
					<span class="typed">&gt;&ensp;</span>
					<h1 class="typed front-typed"></h1>
					<div>
						<a class="btn btn-success btn-lg" href="/auth/github"><span class="fa fa-github fa-lg"></span>&ensp;Login via Github</a>
					</div>
				</div>
			</div>
		</div>
		<% } else { %>
			<h2>Hello, <%= user.github_login %>.</h2>
			<a href="/gists"> Make a test gist! </a>
		<% } %>
	</div>
		<% include ./partials/_scripts.ejs %>
		<script src="/scripts/typed.min.js"></script>
		<script>
			$(function(){
				$(".front-typed").typed({
					strings: ["Welcome to class"],
					typeSpeed: 100,
					cursorChar: "&#9608",
					callback: function() {
						$('.typed-cursor').addClass('animate');
					},
				});
			});
		</script>
	</body>
</html>
