<!DOCTYPE html>
<html>
	<head>
		<title>Code Class</title>
	</head>
	<body>
		<header>
			<% include ./partials/_nav.ejs %>
		</header>
		<a href="/auth/github">Login with GitHub</a>
	</body>
</html>
