<!DOCTYPE html>
<html>
	<head>
		<title>Code Class | Rooms</title>
		<% include ./partials/_head.ejs %>
	</head>
	<body>
		<header>
			<% include ./partials/_nav.ejs %>
		</header>
		<div class="container">
	    <section class="room-select">
				<div class="page-header">
					<h1>Create a Room</h1>
				 </div>
				 <div class="panel panel-default">
				 <div class="panel-body">
				 <form action="/rooms" method="POST">
					 <div class="form-group">
							 <label for="new-classroom--title">Title</label>
							 <input id="new-classroom--title" type="text" class="form-control" name="topic">
					 </div>
					 <div class="form-group">
						 <label for="new-classroom--language">Language</label>
					 </div>
						 <div class="btn-group" data-toggle="buttons">
						 	<div class="radio-inline btn btn-primary">
							 	<label>
								 	<input type="radio" class="radio-none" name="language" id="radio-javascript" value="javascript" checked>
								 	Javascript
							 	</label>
						 	</div>
						 	<div class="radio-inline btn btn-primary">
							 	<label>
								 	<input type="radio" class="radio-none" name="language" id="radio-ruby" value="ruby">
								 	Ruby
							 	</label>
						 	</div>
						 	<div class="radio-inline btn btn-primary">
							 	<label>
								 	<input type="radio" class="radio-none" name="language" id="radio-python" value="python">
								 	Python
							 	</label>
						 	</div>
					 	</div>
					 </div>
					 <div class="panel-footer text-right">
		         <button type="submit" class="btn btn-success btn-lg">Create classroom</button>
		       </div>
				 </form>
	    </section>
	</div>
	<% include ./partials/_new_classroom_modal %>
	</body>
	<% include ./partials/_scripts.ejs %>
</html>
