<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CodeClass</title>
    <% include ./partials/_head.ejs %>
  </head>

  <body>
    <div class="room-container">
      <div class="room-header">
        <% include ./partials/_nav.ejs %>
      </div>
      <div id="react-root" class="room"></div>
    </div>
    <% include ./partials/_scripts.ejs %>
    <script src="/dist/bundle.js"></script>
  </body>
</html>
