<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CodeClass</title>
    <% include ./partials/_head.ejs %>
  </head>
  <header>
    <% include ./partials/_nav.ejs %>
  </header>
  <body>
    <section id="user-classroms">
      <p>Wassup</p>
      <% classrooms.forEach((classroom) => { %>
        <p><%= classroom.topic %></p>
      <% }) %>
    </section>
    <% include ./partials/_scripts.ejs %>
  </body>
</html>
