<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CodeClass</title>
    <% include ./partials/_head.ejs %>
  </head>
  <header>
    <% include ./partials/_nav.ejs %>
  </header>
  <body>
    <section id="user-classroms" class="container">
      <div class="jumbotron clearfix">
        <div class="col-xs-2 col-sm-3">
          <img class="img-circle img-responsive" src=<%= profile.github_avatar %> />
        </div>
        <div class="col-xs-10 col-sm-9">
          <h1 class="typed"><%= profile.github_login %></h1>
        </div>
      </div>
      <h1> My Classrooms </h1>
        <div class="well well-lg myrooms-container">
          <% classrooms.forEach((classroom) => { %>
            <% include ./partials/_room_card.ejs %>
          <% }) %>
      </div>
    </div>
    </section>
    <% include ./partials/_scripts.ejs %>
    <% include ./partials/_card_scripts.ejs %>
  </body>
</html>
