<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CodeClass</title>
    <% include ./partials/_head.ejs %>
  </head>

  <body>
    <div class="room-container">
      <div class="room-header">
        <% include ./partials/_nav.ejs %>
      </div>
      <div id="react-root"></div>
    </div>
    <% include ./partials/_scripts.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://cdn.muicss.com/mui-0.9.12/js/mui.min.js"></script>
    <script src="<%= bundleSrc %>"></script>
  </body>
</html>
