<nav>
  <% if (!user) { %>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Log In</a></li>
  </ul>
  <% } else { %>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/account">Account</a></li>
    <li><a href="/logout">Log Out</a></li>
  </ul>
  <% } %>
</nav>
