.chat-container{
  background-color: rgba(#eeeeee, 0.65);
  color: #FFFFFF;
  flex: 2.5;
  right: 0;
}

.chat-toggle-button{
  background-color: #17a3dd;
  border-radius: 0%;
  color: #FFFFFF;
  position: absolute;
  right: 0;
  top: -40;
}
.control-container {
}
.message-compose-container{
  display: block;
  height: 100px;
}

.chat-header{
}

.message-list-container {
  border-radius: 0%;
  color: black;
  margin-bottom: 0;
  overflow-y: auto;
  word-wrap: break-word;
}

.chatbar-message{
  color: #000000;
}
.chatbar-button{
  color: #FFFFFF;
  display: inline-block;
  // background-color: #17a3dd;
  border-radius: 0%;
}
.user-avatar{
  border-radius: 50%;
  border: 2px solid #FFF;
  display: inline-block;;
  margin: 5px;
  height: 60px;
  white-space: nowrap;
  // max-height: 70px;
  // max-width: 70px;
}
.user-count-container {
  height: 100px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
