.chat-container{
  // width: 25%;
  background-color: rgba(#eeeeee, 0.65);
  color: #FFFFFF;
  float: right;
  flex: 2;
  overflow: auto;
}

.chat-toggle-button{
  background-color: #17a3dd;
  border-radius: 0%;
  color: #FFFFFF;
  position: absolute;
  right: 0;
  top: -40;
}
.control-container {
}
.message-compose-container{
  display: block;
  bottom: 0;
  width: 100%;

}

.chat-header{
  width: 100%;
}

.message-list-container {
  border-radius: 0%;
  color: black;
  min-height: 200px!important;
  overflow-y: scroll;
  width: 100%;
  word-wrap: break-word
}

.chatbar-message{
  color: #000000;
  width: 100%;
}
.chatbar-button{
  color: #FFFFFF;
  display: inline-block;
  // background-color: #17a3dd;
  border-radius: 0%;
}
.user-avatar{
  border-radius: 30px;
  border: 2px solid #FFF;
  margin: 5px;
  margin-left: auto;
  max-height: 60px;
  max-width: 60px;
  white-space: nowrap;
  z-index: 20;
  // max-height: 70px;
  // max-width: 70px;
}
.bubble::after .user-count-container {
  height: 100px;
  white-space: nowrap;
  overflow:scroll;
  overflow-x: scroll;
  overflow-y: hidden;
}

.bubble {
  background: #fff;
  background: -moz-linear-gradient(top, #dedede 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #dedede 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dedede), color-stop(1, #ffffff));
  background: -o-linear-gradient(top, #dedede 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #dedede 0%, #ffffff 100%);
  background: linear-gradient(top, #dedede 0%, #ffffff 100%);
  margin: 10px;
  margin-bottom: 0px;
  width: 90%;
  padding: 5px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px ;
  border-radius: 10px;

}

.bubble::after {
  content: "";
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px ;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: -7px;
  right: 7%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #FFF #FFF transparent;

}

.user-list li {
  display: inline;
}

// ANIMATIONS

.slide-in-right {
  opacity: 1.0;
	-webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-right {
  display: none;
	-webkit-animation: slide-out-right 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	-moz-animation: slide-out-right 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: slide-out-right 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}

.scale-in-hor-right {


	-webkit-animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2017-3-28 10:30:50
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-hor-right
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}


.scale-out-hor-right {

	-webkit-animation: scale-out-hor-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	-moz-animation: scale-out-hor-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: scale-out-hor-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/**
 * ----------------------------------------
 * animation scale-out-hor-right
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-hor-right {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-out-hor-right {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
