.react-tabs [role=tablist] {
  padding: 0;
}

.react-tabs [role=tab] {
  border-bottom: none;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  padding: 6px 12px;
  text-align: center;
}

.react-tabs [role=tab][aria-selected=true] {
  background: #fff;
  border-color: #aaa;
  color: black;
}

.ReactTabs__Tab {
  width: 33.3333%;
}
