
// in use
.open-sidebar {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $nav-height;
  width: $chat-notifcation-bar-width;
  background-color: $green;

  i {
    color: $gray1;
  }
}

.bar-btn {
  background-color: $dark2;
  border-bottom: 0.1px solid #3f434a;
  display: flex;
  flex-direction: column;
  height: 80px;
  padding-top: 20px;
  padding-left: 15px;

  * {
    display: block;
    position: absolute;
  }

  i {
    color: $gray1;
    margin-bottom: 20px;
  }
}

.chat-container {
  background-color: $gray1;
  color: white;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform-origin: right;

  p {
    font-family: $content-font;
  }

  li {
    font-family: $title-font;
  }

  @include large-desktop {
    flex: 0 0 400px;
  }
  @include regular-desktop {
    flex: 0 0 360px;
  }
  @include small-desktop {
    flex: 0 0 280px;
  }
  @include tablet {
    flex: 0 0 240px;
  }

}

.chat-messages {
  height: 85vh;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.close {
  margin-right: 0em;
  flex: 0 0 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform: translate(75px);
  transform: translate(75px);
  visibility: hidden;
  width: 0px;
}

//A conditionally applied id?
#notification-close{
  visibility: hidden;
  width: 0px;
  margin-right: 0em;
  flex: 0 0 0px!important;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.chat-notification-bar {
  background-color: $dark1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: right;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  width: 50px;
  z-index: 999;
}

.message-compose-container {
    flex: 0 0 20%;

  textarea {
    background-color: #fff;
    border: $faint-gray;
    color: $dark3;
    font-family: $content-font;
    height: 150px;
    outline: none;
    padding: 10px;
    width: 100%;
    resize: none;
  }
}

.message-submit {
  background-color: $gray2;
  display: flex;
  justify-content: flex-end;

  button {
    background-color: $green;
    border: none;
    padding: 10px 8px;
  }
}

.message-list-container {
  @include users-onine-background-pattern;
  color: black;
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
  // min-height: 200px;
  // overflow-y: scroll;
  // width: 100%;
  // word-wrap: break-word;
// }

.message-timestamp {
  color: $dark1;
  font-size: 0.8em;
}

.message-container-own {
  @include message-container-styles;

  article {
    @include bubble-chat-styles($chat-bubble-own);
    &:after {
      right: -10px;
    }
  }

  img {
    @include chat-avatar;
  }

  @include tablet {
    padding: 10px 15px 0 15px;

    img {
      margin: 5px 5px 5px 20px;
      max-height: 50px;
      max-width: 50px;
    }
  }

  @include small-desktop {
    padding: 10px 15px 0 15px;
    article {
      width: 65%;
    }
  }


}

.message-container-other {
  @include message-container-styles;
  flex-direction: row-reverse;

  @include tablet {
    padding: 10px 15px 0 5px;
  }

  article {
    @include bubble-chat-styles($gray2);
    &:after {
      left: -10px;
    }
  }

  img {
    @include chat-avatar;
    @include tablet {
      margin: 5px 20px 5px 5px;
      max-height: 50px;
      max-width: 50px;
    }
  }

  @include small-desktop {
    padding: 10px 15px 0 15px;
    article {
      width: 65%;
    }
  }
}

.users-connected-button{
  height: 100px;
}

.sidebar-tablist {
  background-color: $green;
  margin: 0;
  height:$nav-height;
}

.sidebar-tabs {
  background-color: $green;
  flex: none;

  i {
    color: $gray1;
  }
}

.sidebar-tab {
  color: $dark3;
  height: $nav-height;

  .close-sidebar-btn {
    @include ver-hor-center;
    height: 100%;
    width: $chat-notifcation-bar-width;
      &:hover{
      background-color: $gray1;

      i {
        color: $green;
      }
    }
  }

}

.chat-locked-warning {
  background-color: $dark3;
  font-size: 1.5em;
  font-family: $title-font;
  height: 180px;
  padding-top: 20px;
  text-align: center;
}
