.chat-container{
  width: 25%;
  background-color: rgba(#eeeeee, 0.65);
  color: #FFFFFF;
  float: right;
  flex: 3;
  overflow: auto;
}

.chat-toggle-button{
  background-color: #17a3dd;
  border-radius: 0%;
  color: #FFFFFF;
  position: absolute;
  right: 0;
  top: -40;
}
.control-container {
}
.message-compose-container{
  display: block;
  bottom: 0;
  width: 100%;

}

.chat-header{
  width: 100%;
}

.message-list-container {
  border-radius: 0%;
  color: black;
  min-height: 200px!important;
  overflow-y: scroll;
  width: 100%;
  word-wrap: break-word
}

.chatbar-message{
  color: #000000;
  width: 100%;
}
.chatbar-button{
  color: #FFFFFF;
  display: inline-block;
  // background-color: #17a3dd;
  border-radius: 0%;
}
.user-avatar{
  border-radius: 50%;
  border: 2px solid #FFF;
  display: inline-block;;
  margin: 5px;
  height: 60px;
  white-space: nowrap;
  // max-height: 70px;
  // max-width: 70px;
}
.user-count-container {
  height: 100px;
  white-space: nowrap;
  overflow:scroll;
  overflow-x: scroll;
  overflow-y: hidden;
}

.bubble {
  background: #fff;
  background: -moz-linear-gradient(top, #dedede 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #dedede 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dedede), color-stop(1, #ffffff));
  background: -o-linear-gradient(top, #dedede 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #dedede 0%, #ffffff 100%);
  background: linear-gradient(top, #dedede 0%, #ffffff 100%);
  margin: 20px;
  width: 90%;
  padding: 5px;
  text-align: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px ;
  border-radius: 10px;
}

.bubble::after {
  content: "";
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px ;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: -10px;
  right: 5%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #FFF #FFF transparent;
}







.user-list li {
  display: inline;
}
