.react-tabs [role=tablist] {
  padding: 0;
}

.react-tabs [role=tab] {
  display: inline-block;
  border-bottom: none;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs [role=tab][aria-selected=true] {
  background: #fff;
  border-color: #aaa;
  color: black;
}
