.gist-button {
  display: inline-block;
  width: 20%
}

.gist-container {
  padding: 0.5em 1em 0em 1em;
}

.gist-input {
  width:80%;
}

.env-btn {
  a {
    color: inherit;
    text-decoration: none;
  }
  width: 20%;
}

.env-nav-controls {
  padding: 0.5em 1em 0em 1em;
}

.env-nav-panel {
  padding: 0 1em;

  .panel {
    margin-bottom: 0;
  }

  .panel-body {
    padding: $space;
  }
}
