/* Gist  */
.gist-run-container {
  display: flex;
  justify-content: space-between;
}

.gist-button {
  display: inline-block;
  position: absolute;
}

.gist-input {
  @include form-input;
  color: $gray1;
  font-family: $title-font;
  height: 30px;
  width: 200px;
  margin-right: 30px;
}

.env-nav-controls {
  display: flex;
}

.env-btn {
  @include ver-hor-center;
  background-color: #1e1e1f;
  border-right: 0.1px solid #292929;
  cursor: pointer;
  width: 20%;

  &:hover {
    background-color: $gray2;
    color: $dark1;
  }

  a {
   @include env-btn-styles;
  }

}

.env-btn-disabled {
  @include ver-hor-center;
  background-color: #404040;
  border-right: 0.1px solid #4c4c4c;
  width: 20%;
  color: #616161;

}

.env-status {
  @include env-btn-styles;
  padding-top: 12px;
  font-size: 0.8em;
}

.env-mode {
  @include ver-hor-center;
  background-color: darken($pythonblue, 20%);
  border-right: 0.1px solid #292929;
  width: 20%;

  p {
   @include env-btn-styles;
   padding-top: 10px;
  }
}


.run-btn {
  background-color: $dark2;
  color: $gray1;
  cursor: pointer;
  height: $nav-height;
  padding: 10px 10px 0 10px;

  &:hover {
    background-color: $gray1;
    color: $dark3;
  }
}
