/* Gist  */
.gist-button {
  display: inline-block;
  position: absolute;
}

.gist-container {
  display: flex;
  position: relative;
  width: 50%;
}

.gist-input {
  @include form-input;
  color: $gray1;
  width:80%;
}

.env-btn {
  background-color: $green;
  cursor: pointer;
  padding: 5px 5px 5px 15px;
  a {
    color: inherit;
    text-decoration: none;
  }
  width: 20%;
}

.env-nav-controls {
  padding: 0.5em 1em 0em 1em;
}

.env-nav-panel {
  .panel {
    margin-bottom: 0;
  }

  .panel-body {
    padding: $space;
  }
}
