.gist-button{
  display: inline-block;
}

.gist-container {
  padding: 0.5em 1em 0em 1em;
}

.env-btn {
  a {
    color: inherit;
  }
  width: 20%;
}

.env-nav-controls {
  padding: 0.5em 1em 0em 1em;
}
