.form-group {
  padding: $space;
}

input[type="radio"].radio-none {
  display:none;
}

label[for*='new-classroom'] {
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

.btn-group-language {
  display: block;
}
