main {
  display: flex;
}

button.btn {
  border-radius: 0%;
}

.hide {
  visibility: hidden;
}

.sm {
  font-size: 0.65em;
}

.env-container {
 flex: 1 0 auto;
 padding: 10px;
}

.ace_gutter-layer {
  padding-top: $space;
}

.ace_content {
  padding: $space;
}
