main {
  display: flex;
}

button.btn {
  border-radius: 0%;
}

.hide {
  visibility: hidden;
}

.sm {
  font-size: 0.65em;
}

.env-container {
 flex-grow: 3;
}

.editor-container {
  margin: 0 $space;
}

.terminal {
  overflow-y: scroll;
  margin: 0 1em;
}
