main {
  display: flex;
}

button.btn {
  border-radius: 0%;
}

.hide {
  visibility: hidden;
}

.sm {
  font-size: 0.65em;
}

.env-container {
 flex-grow: 3;
 padding: 10px;
}

.editor-container {

}

.ace_gutter-layer {
  padding-top: $space;
}

.ace_content {
  padding: $space;
}
