main {
  display: flex;
}

button.btn {
  border-radius: 0%;
}
.editor {
  height: $editor-height;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.env-container {
 // background-color: rgb(190, 212, 85);
 flex: 7.5;
}

.terminal{
  overflow-y: scroll;
}

.gist-button{
  display: inline-block;
}
