.form-group ~ .form-group {
  padding-top: $space;
}

input[type="radio"].radio-none {
  display:none;
}

label {
  font-size: 1.2em;
}

.btn-theme {
  @include button-variant($light, lighten($theme, 20%), transparent)
}
