.btn.card-share{
  color: #000000;
  border-radius: 0%;
  border: 0;
  margin: 0;
  width: 49%;
}
.card {
    background: #fafafa;
    width: 30%;
    border-radius: 0%;
    transition: 0.5s;
}
.card:hover{
  transform: translate(-5px, -5px);
}

.card.panel.panel-default{
  border: 0;
}

.card-heading.panel-heading{
  background: #red;
  border: 0;
  border-radius: 0%;
  word-wrap: break-word;
}

.card-footer{
  background: #fafafa;
  border-top: 1px solid #eeeeee;
  border-radius: 0%;
}
.delete-card-icon{
  position: relative;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}
.delete-card-icon:hover{
  color: rgb(224, 20, 20);
  cursor: hand;
  cursor: pointer;
}
.delete-card-circle{
  // left: 31.5%;
  position: relative;
  // background-color: #FFFFFF;
  border-radius: 50%;
  // height: 1.5em;
  // width: 1.5em;
  // z-index: 100;
}

.languageID{
  text-transform: capitalize;
}

.fa.icon-javascript-alt.language-icon-js{
  color: rgb(231, 224, 50);
  font-size: 2em;
  float: right;
  margin-top: 5px;
}
.fa.icon-ruby.language-icon-ruby{
  color: rgb(231, 50, 50);
  font-size: 2em;
  float: right;
  margin-top: 5px;
}

.fa.icon-python.language-icon-python{
  color: rgb(50, 117, 231);
  font-size: 2em;
  float: right;
  margin-top: 5px;
}

.myrooms-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.myrooms-cell {
    align-self: stretch;
    border: 1px solid red;
    flex: 0 0 30%;
    margin: 5px;
}

.myrooms-cell-header{
  border-radius: 0%;
}

.z-3{ box-shadow: 5px 5px 10px #000000; }
