.card {
    background: #fafafa;
    width: 30%;
    height: 50%;
    border-radius: 0%;
    transition: 0.5s;
}
.card:hover{
  transform: translate(-5px, -5px);
}

.card.panel.panel-default{
  border: 0;
}

.card-heading.panel-heading{
  background: #red;
  border: 0;
  border-radius: 0%;
}

.card-footer.panel-footer{
  background: #fafafa;
  border-top: #eeeeee;
  border-radius: 0%;
}

.btn.card-share{
  color: #000000;
  border-radius: 0%;
  border: 0;
  margin: 0;
  width: 49%;
}

.languageID{
  text-transform: capitalize;
}

.myrooms-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.myrooms-cell {
    align-self: stretch;
    border: 1px solid red;
    flex: 0 0 30%;
    margin: 5px;
}

.myrooms-cell-header{
  border-radius: 0%;
}

.z-3{ box-shadow: 5px 5px 10px #000000; }
