nav {
  background-color: $dark3;
  height: $nav-height;
  //Override bootstrap
  .container-fluid {
    padding-right: 0;
  }
}

#navbar-brand{
  color: $brand;
  font-family: 'Raleway', sans-serif;
  font-size: 2.3em;
  height: $nav-height;
}

body{
  font-family: 'Raleway', sans-serif;
  font-kerning: auto;
}
