html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  position: relative;
  top: -7px;
  width: 100%;
}

// #react-root {
//   height: 100% !important;
// }

// * {
//   -webkit-box-sizing:border-box;
//   -moz-box-sizing:border-box;
//   box-sizing:border-box;
// }


// .room-container {
//   display: flex;
//   height: 100%;
//   flex-direction: column;
// }

// .room-container > div {
//   flex: 1;
// }


// .container > .room-header + div {
//   flex: 1 1 auto;
//   display: flex;
//   flex-direction: row;
// }

// .container > .room-header + div > div:first-of-type {
//   flex: 7 0 0;
// }

// .container > .room-header + div > div:last-of-type {
//   flex: 3 0 0;
// }