.terminal {
  background-color: #141414;
  height: $terminal-height;
  padding: 10px;
  overflow-x: auto;
  overflow-y: auto;
  word-wrap: break-word;

  & pre {
      background: none;
      border: none;
      color: #fff;
      font-size: 1em;
  }
}
