.terminal {
  background-color: #141414;
  height: $terminal-height;
  padding: $space;
  overflow-y: auto;

  &-output {
    background: none;
    border: none;
    color: #fff;
    display: block;
    font-size: 1em;
    padding: 0;
    margin: 0;
    overflow-wrap: break-word; 
  }

  &-output-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}
