.btn.card-share{
  border: 0;
  border-radius: 0%;
  color: $theme;
  width: 100%;
  &:hover {
    background-color: rgb(240, 240, 240);
  }
}

.card {
  box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: $space 1%;
  transition: all 0s;
  transition: transform 0.1s;
  width:29.9%;
  &:hover .card-moment {
    text-decoration: none;
  }
}

.card-moment {
  display: inline-block;
}

.card-title {
  word-wrap: break-word;
}

.card:hover {
  transform: translate(0, -5px);
  transform: scale(1.03);
}

.card.panel.panel-default {
  border: 0;
  background-color: #FFFFFF;
}

// .card-heading.panel-heading{
//   background: #red;
//   border: 0;
//   word-wrap: break-word;
// }

.card-body {
  margin-bottom: auto;
}

.card-header{
  color: $dark1;
  -webkit-text-shadow: none;
    text-shadow: none;
}


a.card-body:hover{
  text-decoration: none;
}

.card-footer{
  background: #FFFFFF;
  border-top: 1px solid #e8e8e8;
}

.clipboard-check {
  display:none;
}

.delete-card-icon{
  position: relative;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

.delete-card-icon:hover{
  color: rgb(224, 20, 20);
  cursor: hand;
  cursor: pointer;
}

.delete-card-circle{
  // left: 31.5%;
  position: relative;
  // background-color: #FFFFFF;
  border-radius: 50%;
  // height: 1.5em;
  // width: 1.5em;
  // z-index: 100;
}

.icon-javascript-alt{
  color: rgb(231, 224, 50);
}

.icon-ruby{
  color: rgb(231, 50, 50);
}

.icon-python{
  color: rgb(50, 117, 231);
}

.language-icon {
  font-size: 2em;
  float: right;
  margin-top: 5px;
}

.myrooms-container {
  background-color: #f3f5f7;
    border-radius: 0%;
    border: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.myrooms-cell {
    align-self: stretch;
    border: 1px solid red;
    flex: 0 0 30%;
    margin: 5px;
}

.myrooms-cell-header{
  border-radius: 0%;
}

#user-classroom-body{
    background-color: $gray1
}

#user-jumbo{
  // height: 100%;
  // width: 100%;
  border-radius: 0%;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  background-color: rgba(255, 255, 255, 0);
}



/////////////////


*, *:before, *:after {
  box-sizing: border-box;
}

@-webkit-keyframes scrollBad {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -320px;
  }
}
@keyframes scrollBad {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -320px;
  }
}
@-webkit-keyframes scrollGood {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -320px, 0);
            transform: translate3d(0, -320px, 0);
  }
}
@keyframes scrollGood {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -320px, 0);
            transform: translate3d(0, -320px, 0);
  }
}
.pen {
  background-color: blue;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}


.top {
  background-color: #3E69C3;
  background-image: url(http://scarbroughstudios.com/img/codepen.svg);
  background-position: center center;
  background-size: 500px;
  -webkit-animation: scrollBad 20s linear infinite;
  animation: scrollBad 20s linear infinite;
}

.bottom {
  background-color: #31CC70;
  overflow: hidden;
  position: relative;
}
.bottom .scroll {
  background-image: url(http://scarbroughstudios.com/img/codepen.svg);
  background-position: center center;
  background-size: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 400%;
  width: 100%;
  z-index: 1;
  -webkit-animation: scrollGood 5s linear infinite;
  animation: scrollGood 5s linear infinite;
}
