.online-users-container {
  background-color: #fff;

  h2 {
    color: #4a4a4a;
    font-size: 18px;
    padding: 10px;
  }

  p {
    color: #4a4a4a;
  }
}

.env-nav-panel {
  @include flex-clear;
  background-color: $gray1;
  border-radius: 5px;

  p {
    color: $dark2;
  }
}

.user-container {
  align-items: center;
  border: $faint-gray;
  border-bottom: none;
  display: flex;
  padding: 10px;

  img {
    @include avatar-size;
    border: 3px solid $green;
  }

  &:nth-child(even) {
    background-color: $gray1;
  }

  &:nth-child(last) {
   border-bottom: $faint-gray;
  }

  &:nth-child(2) {
    img {
      border: 3px solid $red;
    }
  }
  &:nth-child(3) {
    img {
      border: 3px solid $yellow;
    }
  }
   &:nth-child(4) {
    img {
      border: 3px solid $blue;
    }
  }
}

.github-info {
  padding-left: 15px;
  i {
    color: $dark2;
    cursor: pointer;
    font-size: 1.5em;
  }
}