.online-users-container {
  background-color: #fff;
  height: 250px;
  padding: 10px;
  overflow: scroll;
 
  h2 {
    color: #4a4a4a;
    font-size: 18px;
  }

  p {
    color: #4a4a4a;
  }

  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
}

.user-list {
  overflow-y: scroll;
}

.user-container {
  display: flex;
  align-items: center;
  padding: 8px 0;
  p {
    padding-left: 10px;
  }
}