.btn.card-share{
  color: $light;
  border: 0;
}

.card {
  background: #fafafa;
  box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: $space 1%;
  transition: 0.1s;
  width:23%;
  &:hover .card-moment {
    text-decoration: none;
  }
}

.card-moment {
  display: inline-block;
}

.card-title {
  word-wrap: break-word;
}

.card:hover {
  transform: translate(0, -5px);
  transform: scale(1.03);
}

.card.panel.panel-default {
  border: 0;
  background-color: $gray2;
}

// .card-heading.panel-heading{
//   background: #red;
//   border: 0;
//   word-wrap: break-word;
// }

.card-body {
  margin-bottom: auto;
}

.card-header{
  color: $dark1;
}


a.card-body:hover{
  text-decoration: none;
}

.card-footer{
  background: lighten($theme, 5%);
}

.clipboard-check {
  display:none;
}

.delete-card-icon{
  position: relative;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

.delete-card-icon:hover{
  color: rgb(224, 20, 20);
  cursor: hand;
  cursor: pointer;
}

.delete-card-circle{
  // left: 31.5%;
  position: relative;
  // background-color: #FFFFFF;
  border-radius: 50%;
  // height: 1.5em;
  // width: 1.5em;
  // z-index: 100;
}

.icon-javascript-alt{
  color: rgb(231, 224, 50);
}

.icon-ruby{
  color: rgb(231, 50, 50);
}

.icon-python{
  color: rgb(50, 117, 231);
}

.language-icon {
  font-size: 2em;
  float: right;
  margin-top: 5px;
}

.myrooms-container {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.myrooms-cell {
    align-self: stretch;
    border: 1px solid red;
    flex: 0 0 30%;
    margin: 5px;
}

.myrooms-cell-header{
  border-radius: 0%;
}
