$nav-height: 3em;
$controller-height: 3em;
$terminal-height: 200px;
$space: 1em;
$light: #ebebeb;
$typed-size: 4em;
$theme: #485563;
$editor-height: calc($env-height - $controller-height - $terminal-height);
$chat-notifcation-bar-width: 50px;
$message-compose-container-height: 100px;
