// Fonts
$logo-font: 'Lobster', cursive;
$title-font: 'Muli', Helvetica, Arial, sans-serif;
$content-font: 'Lato', Helvetica, Arial, sans-serif;

// Colors
$dark1: #2F333D;
$dark2: #262B34;
$dark3: #1D202A;

$gray1: #F4F7FA;
$gray2: #DBE0E4;
$gray3: #C5CACE;

$card-background: #485563;
$card-text: $gray1;

$chat-bubble-own: #d1e1ef;
$chat-bubble-other: $gray2;

$theme: #485563;

$brand: rgb(152, 195, 53);
$green: #19B98B;
$jsyellow: #FFCA4A;
$rubyred: #E9484E;
$pythonblue: #18B0F1;


// Border style
$faint-gray: 0.5px solid $gray2;

// Spacing
$nav-height: 5vh;
$main-height: 95vh;
$terminal-height: 200px;
$space: 1em;
$typed-size: 4em;
$theme: #485563;
$chat-notifcation-bar-width: 50px;
$message-compose-container-height: 100px;
