
$window-height: 100vh;
$nav-height: 4.5em;
$env-height: calc(100vh-4.5em);
$controller-height: 4.5em;
$terminal-height: 200px;
$editor-height: calc($env-height - $controller-height - $terminal-height);
